<h3>New book</h3>
<% if newbook.errors.any? %>
  <%= newbook.errors.count %>errors prohibited this obj from being saved
  <ul>
    <% newbook.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: newbook do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Opinion</p>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>